---
layout: default
title: Bücher
permalink: /buecher/
---


<div class="container">
      
<h1>Bücher</h1>


      
      


      {% for book in site.books %}
      <div class="mb-3 d-flex align-items-center">                
                {% if book.image %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{book.url}}">
                 <img class="w-100" src="{% if book.image contains "://" %}{{ book.image }}{% else %}{{ book.image | absolute_url }}{% endif %}" alt="{{ book.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{book.url}}">{{ book.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        {{book.author}}                   
                    </small>
                    <small class="text-muted">
                        {{ book.date | date: '%b %d, %Y' }}
                    </small>
                </div>
                <p class="excerpt">
                  {{ book.excerpt | strip_html | strip_newlines | truncate: 136 }}
              </p>
            </div>
      {% endfor %}
</div>
